@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
.container {
    margin-top: 6.4rem;
    min-height: 70rem;
    font-family: "Yusei Magic", sans-serif;
}
.emptycart {
    box-decoration-break: 0.1rem solid;
    text-align: center;
    margin: 8rem auto;
    width: 90rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
}

.emptycart img {
    width: 60%;
}

.emptycart h1 {
    font-size: 5rem;
}
.emptycart p {
    font-size: 1.7rem;
}
.emptycart button {
    border-style: none;
    height: 4.5rem;
    width: 11rem;
    background-color: red;
    color: white;
    font-family: "Yusei Magic", sans-serif;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 0 2rem rgb(101, 99, 99);
}

.emptycart button:hover {
    box-shadow: none;
    font-size: 1.7rem;
}

.notemptycart {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}
.leftCart {
    width: 70%;
    background-color: rgb(253, 253, 253);
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.rightCart {
    width: 30%;
    padding: 3rem;
    background-color: #f1f1f1;
}
#header {
    border-bottom: 0.1rem solid rgb(193, 188, 188);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h1 {

    color: black;
    font-size: 2.3rem;
    line-height: 5rem;
}
#cartable,
tr,
th,
td {
    border-collapse: collapse;
    text-align: center;
}
tr {
    width: 100%;
    height: auto;
}
td {
    padding: 0.5rem;
}
th {
    color: rgb(92, 91, 91);
    font-size: 1.2rem;
}

td,
th {
    width: 10rem;
    height: 10rem;
}
tr {
    font-size: 1.1rem;
   
}

#product_details {
    display: flex;
    align-items: center;
    width: 100%;
  
}
#product_details div {
    width: 50%;
}
#product_details img {
    width: 100%;
    height: 100%;
}
#name_btn {
    text-align: center;
}

#name_btn p {
    font-size: 1.3rem;
   
}
#name_btn button {
    background: none;
    border-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}
#name_btn button:hover {
    font-size: 1.2rem;
    color: rgb(41, 189, 83);
}

tr:nth-child(even) {
    background-color: rgb(244, 244, 244);
}
#quantity {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quantity button {
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
 

}
#quantity button :hover {
    color: red;
    font-size: 2rem;
}
#quantity p {
    border: 0.1rem solid rgb(195, 192, 192);
    width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .container {
        margin-top: 8.5rem;
        min-height: 70vh;
    }
    .emptycart {
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .emptycart img {
       
        width: 100%;
        
    }

    .emptycart {
        padding: 1rem;
    }
    .emptycart h1 {
        font-size: 5rem;
        line-height: normal;
    }
    .emptycart p {
        font-size: 1.7rem;
        font-size: 2.1rem;
    }
    .emptycart button {
        width: 13rem;
        height: 5rem;
    }

    .emptycart button:hover {
        box-shadow: none;
        font-size: 1.7rem;
    }

    .notemptycart {
        width: 100vw;
        min-height: 100vh;
        display: block;
    }
    .leftCart {
        width: 100vw;
        background-color: rgb(253, 253, 253);
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .rightCart {
        width: 100vw;
        padding: 1rem;
        background-color: #f1f1f1;
    }
    #header {
        border-bottom: 0.1rem solid rgb(193, 188, 188);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #header h1 {
        color: black;
        font-size: 2.5rem;
        line-height: 7rem;
    }

    #cartable,
    tr,
    th,
    td {
        border-collapse: collapse;

        text-align: center;
    }
    tr {
        width: 100%;
        height: 14rem;
    }
    td {
        padding: 0.5rem;
    }
    th {
        color: rgb(92, 91, 91);
        font-size: 1.5rem;
    }

    td,
    th {
        height: 12rem;
    }

    #product_details {
        display: flex;
        flex-direction: column;
        justify-content: s;
        width: 100%;
    }
    #product_details div {
        width: 100%;
    }

    #quantity {
        width: 90%;
        height: 3rem;

        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #name_btn p {
        font-size: 1.4rem;
    }
    #name_btn button {
        font-size: 1.5rem;
    }
    #quantity button {
        height: 100%;
        justify-content: center;
        font-size: 2rem;
    }

    #quantity p {
        height: 100%;

        font-size: 1.8rem;
    }
    #price,
    #total {
        font-size: 1.8rem;
    }
}
