@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
.container {
    margin-top: 6.3rem;
    width: 100%;
    display: flex;
    font-family: "Yusei Magic", sans-serif;
    min-height: 68rem;
}

.item {
    width: 50vw;
    padding: 2rem 12rem;
}

#contact img {
    width: 3rem;
    height: 2.9rem;
}

#contact {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.contact_item {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.contact_item p {
    font-size: 1.6rem;
}

#contact h4 {
    font-size: 4.8rem;
    line-height: 1.2;
}
#contact h4 span {
    color: red;
}

#rigtsideitem {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#rigtsideitem h4 {
    font-size: 1.6rem;
    margin-top: 8rem;
}
#rigtsideitem h4 span {
    color: rgb(250, 5, 5);
}
#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.forminput {
    width: 50%;
    height: 4.5rem;
    display: flex;
    padding-left: 1rem;
    font-family: "Yusei Magic", sans-serif;
    border-style: none;
    border-bottom: 0.2rem solid red;
}

#message {
    height: 15rem;
    resize: none;
    width: 90%;
    padding-left: 1rem;
    font-family: "Yusei Magic", sans-serif;
    border-style: none;
    border-bottom: 0.2rem solid red;
}
#form button {
    width: 8.5rem;
    height: 4rem;
    border-style: none;
    cursor: pointer;
    background-color: red;
    color: white;
    font-family: "Yusei Magic", sans-serif;
    border-radius: 2rem;
    font-size: 1.6rem;
    box-shadow: 0 0 2rem rgb(101, 99, 99);
}
#form button:hover {
    font-size: 1.8rem;
    box-shadow: none;
}

@media screen and (max-width: 480px) {
    .container {
        margin-top: 9rem;
        width: 100vw;
        display: block;
    }

    .item {
        width: 100vw;
        padding: 3rem;
    }

    #contact img {
        width: 3rem;
        height: 3rem;
    }

    #contact {
        
        gap: 4rem;
        background-color: rgb(224, 224, 224);
    }

    .contact_item p {
        font-size: 1.7rem;
    }

    #rigtsideitem {
        gap: 5rem;
         
         background-color: rgb(244, 244, 244);
    }
    #rigtsideitem h4 {
        font-size: 2rem;
    }

    #form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      
    }

    .forminput {
        width: 70%;
        font-size: 2.1rem;
    }
    .forminput:focus {
        outline: none;
    }

    #message {
        height: 14rem;
        width: 90%;
        font-size: 2.1rem;
    }
    #message:focus {
        outline: none;
    }
    #form button {
        width: 10rem;
        height: 4.5rem;
        border-radius: 5rem;
        font-size: 1.8rem;
    }
   
}
