.footer {
    width: 100%;
    height: 20rem;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.8rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(208, 206, 210);
    margin-top: .1rem;
    font-family: "Open Sans", sans-serif;
    color: rgb(73, 75, 74);
}



#logo {
    display: flex;
    gap: .5rem;
    height: fit-content;
    align-self: center;
    opacity: 90%;
}

#logo img {
    width: 5.2rem;
   
    
   

}

#logo h3 {
    font-size: 1.2rem;
    border: 1px solid;
    text-align: center;
    padding: .2rem;
    box-shadow: .2rem .2rem .5rem rgb(21, 20, 20);
    border-radius: 1rem;
    background-color: rgb(236, 162, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}





.help {

    font-size: 1.8rem;
    color: orangered;
    display: flex;
    width: 20rem;
    height: 8rem;
  



}

.help input {

    height: 3.5rem;
    align-self: center;
    border-radius: 1.5rem;
    border: none;
    width: 15rem;
    box-shadow: .2rem .2rem 1rem rgb(0, 0, 0);


}

.help h2 {
    position: relative;
    left: 71%;
    top: .3rem;



}

.help:hover {
    color: rgba(105, 205, 38, 0.793);
    cursor: pointer;

}



#div3 {
    display: flex;
    height: fit-content;
    justify-content: end;
  
  


}

#ftrcontact {

    height: 8rem;
    align-items: center;
    display: flex;
    color: aqua;
    

}

#ftrcontact a {
    width: 3.5rem;
    color: rgb(73, 75, 74);

}

#div1 {
    display: flex;
    gap: 3rem;
    padding-left: 2rem;
    color: rgb(73, 75, 74);
  
}


#div1 a {
    text-decoration: none;
    color: rgb(116, 112, 112);

}



.div1item {
    display: flex;
    flex-direction: column;
    
}
#div2 {
    text-align: center;
    align-self:end;
    font-size: 1.4rem;
 

}

