.container {
    margin-top: 6.1rem;
    display: grid;
    grid-template-rows: 60rem 80rem;
    gap: 0.1rem;
}

.trans {
    display: flex;
    position: relative;

}

.trans button {

    cursor: pointer;
    width: 7rem;
    height: 100%;
    font-size: 5.5rem;
    color: rgb(255, 132, 0);
    border: none;
    background: none;
    opacity: 80%;


}

.trans button:hover {
    color: rgb(13, 14, 13);
    font-size: 7rem;
}

.transfrwd {
    position: absolute;

    left: 95%;
}

.transbcwd {
    position: absolute;
    right: 95%;

}

.transimage {
    width: 100%;
    transition: opacity ease-in-out .4s;



}

.transimage img {
    width: 100%;
    height: 100%;
    overflow: scroll;

    scroll-behavior: smooth;
    transition: scroll .3 ease-in-out;





}

.help {
    width: fit-content;
    font-size: 1.8rem;
    position: sticky;
    bottom:0%;
    left: 88%;
    color: orangered;
    display: flex;
    opacity: 85%;
 



}

.help input {
    height: 3.5rem;
    align-self: center;
    border-radius: 1.5rem;
    border: none;
    width: 15rem;
    box-shadow: .2rem .2rem 1rem rgb(0, 0, 0);

}

.help h2 {
    position: relative;
    left: 80%;
    top: .3rem;


}

.help:hover {
    color: rgba(105, 205, 38, 0.793);
    cursor: pointer;
}




#bcg {
background-image: url('/public/tea.jpg');
    background-size: cover;


}

.main1 {
    width: fit-content;
    margin: 30rem 5rem;
    position: relative;

}

.main1 h2 {
    font-size: 5rem;
    color: rgb(157, 223, 15);
   font-family: 'Borel', cursive;
   
   height: 5rem;


}

.main1 p {
    font-size: 4rem;
    color: rgb(25, 230, 162);
    font-family: 'Borel', cursive;

}
.main1 img{
    position:absolute;
    width: 20rem;
    bottom: 25.3rem;
    left: 0rem;
    
}

.btn {
    width: 25%;
    height: 4rem;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    border-radius: 5rem;
}