@import url("https://fonts.googleapis.com/css2?family=Allura&family=Borel&family=Cookie&family=Dosis:wght@200&family=Edu+SA+Beginner:wght@400;500;600&family=Kaushan+Script&family=Marck+Script&family=Merriweather:wght@300;400&family=Parisienne&family=Playfair+Display&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Borel&family=Cookie&family=Dosis:wght@200&family=Edu+SA+Beginner:wght@400;500;600&family=Kaushan+Script&family=Marck+Script&family=Merriweather:wght@300;400&family=Parisienne&family=Playfair+Display&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Borel&family=Cookie&family=Dosis:wght@200&family=Edu+SA+Beginner:wght@400;500;600&family=Kaushan+Script&family=Marck+Script&family=Merriweather:wght@300;400&family=Parisienne&family=Playfair+Display&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
.container {
    margin-top: 6.3rem;
    display: grid;
    grid-template-rows: 14rem 6.5rem auto;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.container img {
    width: 50%;
    padding: 0.3rem;
}
.contItem {
    /* border: 0.2rem solid; */
}
#text {
    justify-self: center;
    align-self: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: "Allura", cursive;
    color: #eaca10;
}
#buttondiv {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgb(233, 233, 233);
    border-radius: 5rem;
    background-color: rgb(251, 241, 227);
}
#buttondiv button {
    font-family: "Yusei Magic", sans-serif;
    height: 3.2rem;
    width: 9rem;
    cursor: pointer;
    border-style: none;
    border-radius: 2rem;
    color: #e7c70f;
    box-shadow: 0.2rem 0.2rem 0.4rem rgb(178, 180, 177);
    background-color: rgb(253, 252, 252);
}
#buttondiv button:hover {
    background-color: rgb(151, 238, 151);
    color: white;
    font-size: 1.8rem;
}
#menudiv {
    margin-top: 3rem;
    display: flex;
    padding: 0.5rem;
    flex-wrap: wrap;
    row-gap: 6rem;
    min-height: 50rem;
    justify-content: space-evenly;
    column-gap: 3rem;
}
.Menuitem {
    display: flex;
    width: 50rem;
    height: 19rem;

    padding: 0.1rem;
    gap: 0.4rem;
    border-radius: 2rem;
    background-color: rgb(251, 241, 227);
    box-shadow: 0rem 0rem 0.5rem rgb(128, 126, 126);
}
.Menuitem:hover {
    background-color: #ecebe9;
    box-shadow: 0rem 0rem 1.8rem rgb(128, 126, 126);
    cursor: pointer;
}
#menu_image {
    width: 25rem;
    border-radius: 2.6rem;
}

#menu_detail {
    display: flex;
    flex-direction: column;
    padding: 0 0.9rem;
    /* border: 0.1rem solid; */
    justify-content: space-between;
    gap: 0.5rem;
}
.menu_inner_item {
    /* border: 0.1rem solid; */
}
.price_button {
    /* border: 0.1rem solid; */
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    padding: 2rem;
    border-top: 0.1rem solid rgb(216, 214, 214);
}
.price_button h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}
#menu_price {
    font-size: 1.5rem;
    font-family: "Yusei Magic", sans-serif;
}
#menu_button {
    height: 3.4rem;
    width: 6rem;
    cursor: pointer;
    border-style: none;
    border-radius: 2rem;
    color: #e7c70f;
    box-shadow: 0.2rem 0.2rem 0.4rem rgb(178, 180, 177);
    background-color: rgb(253, 252, 252);
    font-family: "Yusei Magic", sans-serif;
    font-size: 1.6rem;
}
#menu_button:hover {
    background-color: rgb(151, 238, 151);
    color: white;
    font-size: 1.9rem;
}

#menu_title {
    font-family: "Satisfy", cursive;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 0.1rem solid rgb(216, 214, 214);
    color: rgb(64, 63, 62);
}

#menu_desc {
    font-size: 1.3rem;

    color: rgb(124, 122, 122);
    font-family: "Dosis", sans-serif;
    font-family: "Yusei Magic", sans-serif;
}

@media only screen and (max-width: 480px) {
    .container {
      
        margin-top: 8.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .container img {
        width: 50%;
        padding: 0.3rem;
    }
   
    #text {
        font-size: 5rem;
        padding: 2rem;
        color: #edcb0b;
    }
    #buttondiv {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.2rem;
        height: auto;
        width: 100vw;
        border-radius: 0;
        background-color: rgb(222, 222, 222);
    }
    #buttondiv button {
        height: 3.5rem;
        width: 15rem;
        color: #e7c70f;
    }
    #buttondiv button:hover {
        font-size: 2.1rem;
    }
    #menudiv {
      
        margin-top: 3rem;
        display: flex;
        padding: 0.5rem;
        flex-wrap: wrap;
        row-gap: 6rem;
        min-height: 50rem;
        justify-content: space-evenly;
        column-gap: 3rem;
    }
    .Menuitem {
        display: flex;
        width: 95%;
        min-height: 20rem;
        height: auto;

        padding: 0rem;
        gap: 0.4rem;
        border-radius: 0rem;
        background-color: rgb(255, 255, 255);
        box-shadow: 0rem 0rem 0.5rem rgb(128, 126, 126);
    }
    .Menuitem:hover {
        background-color: #ecebe9;
        box-shadow: 0rem 0rem 1.8rem rgb(128, 126, 126);
        cursor: pointer;
    }
    #menu_image {
       
        border-radius:0rem;
    }

    #menu_detail {
        display: flex;
        flex-direction: column;
        padding: 0 0.9rem;
       
        justify-content: space-between;
        gap: 0.5rem;
    }
    
    .price_button {
     
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;
        padding: 2rem;
        border-top: 0.1rem solid rgb(216, 214, 214);
    }
    .price_button h1 {
        color: rgb(255, 0, 0);
        text-align: center;
    }
    #menu_price {
        font-size: 1.5rem;
        font-family: "Yusei Magic", sans-serif;
    }
    #menu_button {
        height: 3.4rem;
        width: 7rem;
        cursor: pointer;
        border-style: none;
      
        color: #e7c70f;
        box-shadow: 0.2rem 0.2rem 0.4rem rgb(178, 180, 177);
        background-color: rgb(253, 252, 252);
        font-family: "Yusei Magic", sans-serif;
        font-size: 1.6rem;
    }
    #menu_button:hover {
        background-color: rgb(151, 238, 151);
        color: white;
        font-size: 1.9rem;
    }

    #menu_title {
       
        font-size: 2rem;
    
       
    }

    #menu_desc {
        font-size: 1.4rem;

        color: rgb(124, 122, 122);
        font-family: "Dosis", sans-serif;
        font-family: "Yusei Magic", sans-serif;
    }
}
